#carouselExampleIndicators{
    border: 1.3px solid;
}
#carouselExampleIndicators2{
    border: 1.3px solid;
}
#carouselExampleIndicators4{
    border: 1.3px solid;
}
#carouselExampleIndicators5{
    border: 1.3px solid;
}
#carouselExampleIndicators6{
    border: 1.3px solid;
}
#carouselExampleIndicators7{
    border: 1.3px solid;
}
#carouselExampleIndicators8{
    border: 1.3px solid;
}
#carouselExampleIndicators9{
    border: 1.3px solid;
}
#carouselExampleIndicators10{
    border: 1.3px solid;
}
#carouselExampleIndicators11{
    border: 1.3px solid;
}
#carouselExampleIndicators12{
    border: 1.3px solid;
}
#carouselExampleIndicators13{
    border: 1.3px solid;
}